* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 100vh;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.prev,.next {
    font-size: 30px;
}

.images {
    margin: 0 20px;
}

.images img {
    width: 100%;

}

nav {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
}

nav i {
    font-size: 12px;
    margin: 0 10px;
    color: rgba(211, 211, 211, 0.801);
}

.blue {
    color: rgba(0, 0, 255, 0.685);
}